body{
  background:#eee;
}

h1{
  text-align:center;
  margin-bottom:5px;
  font-family: 'Comfortaa', cursive;
  font-size: 50px;
  text-shadow: 0 0 1px #007665, 0 0 8px #007665;
  color: white;
}
button#start {
  font-size: 16px;
  border-radius: 8px;
  background-color: #8ecfd7;
  color: white;
  position: absolute;
  top: 7%;
  right: 80%;
}

button#reset {
  font-size: 16px;
  border-radius: 8px;
  background-color: #8ecfd7;
  color: white;
  position: absolute;
  top: 7%;
  left: 80%;
}

p.info{
  text-align:center;
  width:600px;
  margin:0 auto;
  font-size:15px;
  font-weight:bold;
  color: #007665;
  margin-bottom:20px;
  font-family: helvetica;
}

div#gameBody{
  border-color: black;
  border-style: solid;
  width: 700px;
  height: 700px;
 }
div.c1{
  border-style: solid;
  border-color: black;
  width: 95px;
  height: 94px;
  margin: 0;
  border-radius: 50%;
}
div.c2{
  border-style: solid;
  border-color: black;
  width: 95px;
  height: 94px;
  margin: 0;
  border-radius: 50%;
}
div.c3{
  border-style: solid;
  border-color: black;
  width: 95px;
  height: 94px;
  margin: 0;
  border-radius: 50%;
}
div.c4{
  border-style: solid;
  border-color: black;
  width: 95px;
  height: 94px;
  margin: 0;
  border-radius: 50%;
}
div.c5{
  border-style: solid;
  border-color: black;
  width: 95px;
  height: 94px;
  margin: 0;
  border-radius: 50%;
}
div.c6{
  border-style: solid;
  border-color: black;
  width: 95px;
  height: 94px;
  margin: 0;
  border-radius: 50%;
}
div.c7{
  border-style: solid;
  border-color: black;
  width: 95px;
  height: 94px;
  margin: 0;
  border-radius: 50%;
}



.disc{
  position:absolute;
  z-index:-1;
  top:-55px;
  left:14px;
  width:46px;
  height:46px;
  border-radius:46px;
  transition:all .3s;
}

.disc.red{
  background:#ec663c;
}

.disc.yellow{
  background:#006881;
}
