html{
    width: 100%;
    height: 100%;
}

body{
  background: white;
    width: 100%;
    height: 100%;
}
button.rules{
    display: block;
    margin: 0 auto;
    width: 95px;
    height: 95px;
    font-size: 16px;
    border-radius: 50%;
    background-color: #fffae3;
    color: black;
    border-style: hidden;
    font-family: 'Dosis', sans-serif;
}

div#wrapper{
    width: 100%;
    height: 100%;
}
h1{
    text-align:center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:5px;
    padding-bottom: 60px;
    font-family: 'Dosis', sans-serif;
    font-size: 50px;
    text-shadow: 0 0 1px #ac8f57, 0 0 8px #ac8f57;
    color: #e0cda7;
}
button#start {
    display: block;
    width: 95px;
    height: 95px;
    font-size: 16px;
    border-radius: 50%;
    background-color: #fffae3;
    color: black;
    position: absolute;
    top: 7%;
    right: 80%;
    border-style: hidden;
    font-family: 'Dosis', sans-serif;
}

button#reset {
    display: block;
    width: 95px;
    height: 95px;
    border-radius: 50%;
    font-size: 16px;
    background-color: #fffae3;
    color: black;
    position: absolute;
    top: 7%;
    left: 80%;
    font-family: 'Dosis', sans-serif;
    border-style: hidden;
}

div#gameBody{
    margin-left: auto;
    margin-right: auto;
    border-color: #e0cda7;
    border-style: solid;
    width: 727px;
    height: 600px;
}
#c1{
position: absolute;
height: 600px;
width: 100px;
margin-left: 1px;
}
#c2{
position: relative;
display: inline-block;
height: 600px;
width: 100px;
left: 100px;
margin-left: 4px;
}
#c3{
position: relative;
display: inline-block;
height: 600px;
width: 100px;
left: 100px;
}
#c4{
position: relative;
display: inline-block;
height: 600px;
width: 100px;
left: 100px;
}
#c5{
position: relative;
display: inline-block;
height: 600px;
width: 100px;
left: 100px;
}
#c6{
position: relative;
display: inline-block;
height: 600px;
width: 100px;
left: 100px;
}
#c7{
position: relative;
display: inline-block;
height: 600px;
width: 100px;
left: 100px;
}
div.c1{
    border-style: solid;
    border-color: #ac8f57;
    width: 95px;
    height: 94px;
    margin: 0;
    border-radius: 50%;
}
div.c2{
    border-style: solid;
    border-color: #ac8f57;
    width: 95px;
    height: 94px;
    margin: 0;
    border-radius: 50%;
    left: 100px;
}
div.c3{
  border-style: solid;
  border-color: #ac8f57;
  width: 95px;
  height: 94px;
  margin: 0;
  border-radius: 50%;
  left: 100px;
}
div.c4{
  border-style: solid;
  border-color: #ac8f57;
  width: 95px;
  height: 94px;
  margin: 0;
  border-radius: 50%;
  left: 100px;
}
div.c5{
  border-style: solid;
  border-color: #ac8f57;
  width: 95px;
  height: 94px;
  margin: 0;
  border-radius: 50%;
  left: 100px;
}
div.c6{
  border-style: solid;
  border-color: #ac8f57;
  width: 95px;
  height: 94px;
  margin: 0;
  border-radius: 50%;
  left: 100px;
}
div.c7{
  border-style: solid;
  border-color: #ac8f57;
  width: 95px;
  height: 94px;
  margin: 0;
  border-radius: 50%;
  left: 100px;
}



.disc{
  position:absolute;
  z-index:-1;
  top:-55px;
  left:14px;
  width:46px;
  height:46px;
  border-radius:46px;
  transition:all .3s;
}

.disc.red{
  background:#ec663c;
}

.disc.yellow{
  background:#006881;
}
