html{
    width: 100%;
    height: 100%;
}

body{
  background: white;
    width: 100%;
    height: 100%;
}
div#wrapper{
    width: 100%;
    height: 100%;
}
h1{
    text-align:center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:5px;
    padding-bottom: 60px;
    font-family: 'Dosis', sans-serif;
    font-size: 50px;
    /*text-shadow: 0 0 1px #007665, 0 0 8px #007665;*/
    color: #e0cda7;
}
button#start {
  font-size: 16px;
  border-radius: 8px;
  background-color: #fffae3;
  color: black;
  position: absolute;
  top: 7%;
  right: 80%;
}

button#reset {
  font-size: 16px;
  border-radius: 8px;
  background-color: #fffae3;
  color: black;
  position: absolute;
  top: 7%;
  left: 80%;
}

/*p.info{*/
  /*text-align:center;*/
  /*width:600px;*/
  /*margin:0 auto;*/
  /*font-size:15px;*/
  /*font-weight:bold;*/
  /*color: #007665;*/
  /*margin-bottom:20px;*/
  /*font-family: helvetica;*/
/*}*/
#c1{
    position: absolute;
    height: 700px;
    width: 100px;
    margin-left: 1px;
}
#c2{
    position: relative;
    display: inline-block;
    height: 700px;
    width: 100px;
    left: 100px;
    margin-left: 4px;
}
#c3{
    position: relative;
    display: inline-block;
    height: 700px;
    width: 100px;
    left: 100px;
}
#c4{
    position: relative;
    display: inline-block;
    height: 700px;
    width: 100px;
    left: 100px;
}
#c5{
    position: relative;
    display: inline-block;
    height: 700px;
    width: 100px;
    left: 100px;
}
#c6{
    position: relative;
    display: inline-block;
    height: 700px;
    width: 100px;
    left: 100px;
}
#c7{
    position: relative;
    display: inline-block;
    height: 700px;
    width: 100px;
    left: 100px;
}
div#gameBody{
  margin-left: auto;
  margin-right: auto;
  border-color: #e0cda7;
  border-style: solid;
  width: 727px;
  height: 600px;
 }
div.c1{
    border-style: solid;
    border-color: black;
    width: 95px;
    height: 94px;
    margin: 0;
    border-radius: 50%;
}
div.c2{
    border-style: solid;
    border-color: black;
    width: 95px;
    height: 94px;
    margin: 0;
    border-radius: 50%;
    left: 100px;
}
div.c3{
  border-style: solid;
  border-color: black;
  width: 95px;
  height: 94px;
  margin: 0;
  border-radius: 50%;
  left: 100px;
}
div.c4{
  border-style: solid;
  border-color: black;
  width: 95px;
  height: 94px;
  margin: 0;
  border-radius: 50%;
  left: 100px;
}
div.c5{
  border-style: solid;
  border-color: black;
  width: 95px;
  height: 94px;
  margin: 0;
  border-radius: 50%;
  left: 100px;
}
div.c6{
  border-style: solid;
  border-color: black;
  width: 95px;
  height: 94px;
  margin: 0;
  border-radius: 50%;
  left: 100px;
}
div.c7{
  border-style: solid;
  border-color: black;
  width: 95px;
  height: 94px;
  margin: 0;
  border-radius: 50%;
  left: 100px;
}



.disc{
  position:absolute;
  z-index:-1;
  top:-55px;
  left:14px;
  width:46px;
  height:46px;
  border-radius:46px;
  transition:all .3s;
}

.disc.red{
  background:#ec663c;
}

.disc.yellow{
  background:#006881;
}
